.img1{
    background-image: url(../IMAGENES/agudeza3.jpg);
    width: 100%;
    height: 450px; 
    background-size: cover;
    background-position: center;  
    position: relative;
}
.img2{
    background-image: url(../IMAGENES/refraccion.jpg);
    width: 100%;
    height: 450px; 
    background-size: cover;
    background-position: center;  
    position: relative;

}
.img3{
    background-image: url(../IMAGENES/terapia5.jpg);
    width: 100%;
    height: 450px; 
    background-size: cover;
    background-position: center;  
    position: relative;

}

