.img1{
    background-image: url(../IMAGENES/agudeza3.jpg);
    width: 100%;
    height: 450px; 
    background-size: cover;
    background-position: center;  
    position: relative;
}
.img2{
    background-image: url(../IMAGENES/refraccion.jpg);
    width: 100%;
    height: 450px; 
    background-size: cover;
    background-position: center;  
    position: relative;

}
.img3{
    background-image: url(../IMAGENES/terapia5.jpg);
    width: 100%;
    height: 450px; 
    background-size: cover;
    background-position: center;  
    position: relative;

}
.title{
    position: absolute;
    bottom: 110px; 
    left: 100px;   
    color: white;
    font-size: 2.5em;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}
.subt{
    position: absolute;
    bottom: 65px; 
    left: 70px;   
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);

}
.title2{
    position: absolute;
    bottom: -600px; 
    left: 40px;   
    color: white;
    font-size: 2.5em;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}
.subt2{
    position: absolute;
    bottom: -650px; 
    left: 40px;   
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);

}
.title3{
    position: absolute;
    bottom: -1400px; 
    left: 40px;   
    color: white;
    font-size: 2.5em;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}
.subt3{
    position: absolute;
    bottom: -1450px; 
    left: 40px;   
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);

}

.contenedor {
    max-width: 800px;
    margin: 0 auto;
}

.titulo {
    font-size: 1.5em;
    margin-top: 20px;
}

.linea {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
}

.pregunta {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    margin: 10px 0;
    max-width: 400px; 
    margin-left: auto;
    margin-right: auto; 
}

.pregunta .icono-pregunta {
    cursor: pointer;
    font-size: 1.5em;
    margin-left: 10px; 
}

.pregunta-label {
    flex-grow: 1;
    text-align: left; 
}

.respuesta {
    display: none; 
    text-align: left;
    margin-top: 5px;
    font-size: 0.9em;
    max-width: 400px; 
    margin-left: 400px; 
    margin-right: auto; 
}

.boton-agendas{
    display: block;
    margin: 30px auto; 
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
     
}



.botones {
    position: absolute;
    bottom: 200px; 
    left: 70%;
    display: flex;
    flex-direction: row; 
    gap: 5px; 
}

.boton-whatsapp {
    background-color: rgb(15, 110, 15); 
    color: rgb(242, 247, 242);
    border-radius: 10px;
    font-size: 25px;
    padding: 5px 10px; 
    cursor: pointer;
    
}
.boton-whatsapp:hover{
    transform: scale(1.2);
    color: aliceblue;
    text-decoration: none;
}
